name: Publish Python distribution to PyPI and TestPyPI
on:
  push:
    tags:
      - '*'
jobs:
  build-n-publish:
    name: Publish Python distribution to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install flit
        run: >-
          python -m
          pip install
          flit
      - name: Build a binary wheel and a source tarball
        run: >-
          python -m
          flit build
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
